@model IEnumerable< GestionActivos.Models.CargosViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
@foreach (var car in Model)
{
<div>
    <h4>CargosViewModel</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => car.Carg_Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => car.Carg_Descripcion)
        </dd>
        
    </dl>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => car.Uuno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Carg_FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Udos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Carg_FechaModificacion)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => car.Uuno)
                </td>
                <td>
                    @Html.DisplayFor(model => car.Carg_FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(model => car.Udos)
                </td>
                <td>
                    @Html.DisplayFor(model => car.Carg_FechaModificacion)
                </td>
            </tr>
        </tbody>
    </table>
</div>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
