@model IEnumerable<GestionActivos.Models.SucursalesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<div class="collapse" id="CollapseCrear">
    <div class="card card-body">
        @Html.Partial("_Create", new GestionActivos.Models.SucursalesViewModel())
    </div>
</div>

<div class="collapse" id="CollapseActualizar">
    <div class="card card-body">
        @Html.Partial("_Update", new GestionActivos.Models.SucursalesViewModel())
    </div>
</div>

<div class="collapse show" id="CollapseTabla">
    <p>
        @*<a asp-action="Create">Create New</a>*@
        <a asp-action="Create" class="btn btn-primary" data-toggle="collapse" data-target="#CollapseCrear, #CollapseTabla" aria-expanded="false" aria-controls="collapseExample">Nuevo</a>

    </p>

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Sucu_Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Depa_Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Muni_Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sucu_DireccionExacta)
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Sucu_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Depa_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Muni_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sucu_DireccionExacta)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Sucu_Id" data-toggle="collapse" data-target="#CollapseActualizar , #CollapseTabla" aria-expanded="false" aria-controls="collapseExample" onclick="LLenarCollapse('@item.Sucu_Id')"><i class="mdi mdi-pencil btn btn-primary mr-2">Editar</i></a>|

                        <a href="@Url.Action("Details", "Sucursales", new {Sucu_Id = item.Sucu_Id})" class="btn btn-info"><i class="fas fa-info-circle btn-xs"></i>Detalle</a>|
                        <a asp-action="Eliminar" class="btn btn-danger" asp-route-id="@item.Sucu_Id" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerDelete('@item.Sucu_Id')"><i class="fas fa-trash-alt btn-xs">Eliminar</i></a>|
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h3>Esta seguro de eliminar este registro?</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Delete", new GestionActivos.Models.SucursalesViewModel())
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function LLenarCollapse(id) {
        //$(".editar-depa").click(function () {
        console.log("entra?");
        //var id = $(this).data("depa-id");
        var url = "https://localhost:44311/API/Sucursales/LlenarCategoria/" + id;
        console.log(url);
        fetch(url).then(function (result) {
            if (result.ok) {
                console.log("entra?");
                return result.json();
            }
            else {
                console.log("No entra");
            }
        }).then(function (data) {
            console.log("data = " + data);
            var descripcion = data.descripcion;

            console.log("Id=" + data.municipio);
            console.log("des=" + data.departamento);

            $("#sucuId").val(id);
            $("#txtdescrip").val(data.descripcion);
            $("#txtdireccion").val(data.direccion);
            $("#muni_Id").val(data.municipio);
            $("#depa_Id").val(data.departamento);

        });
    }

    function ObtenerDelete(id) {
        $("#idSucu").val(id);
        console.log("id" + id);
        sessionStorage.setItem('sess', id);
    }
    function validarId() {
        var valor = sessionStorage.getItem('sess');
        if (valor != $("#id").val()) {
            $("#btnEliminar").attr("name", "invalido")
        }
        sessionStorage.clear();
    }
</script>
