@model SistemaActivos.Common.Model.UsuariosViewmodel

<h4>Usuarios</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-sm-6">

        <div class="form-group">
            <label class="control-label">Nombre Usuario</label>
            <input asp-for="Usua_Nombre" class="form-control" />
            <span asp-validation-for="Usua_Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Contraseña</label>
            <input asp-for="Usua_Contra" class="form-control" />
            <span asp-validation-for="Usua_Contra" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label"> Es Admin?</label>
            <input class="from-check-input" type="checkbox" id="Usua_Admin" name="Usua_Admin" value="Usua_Admin" /> @Html.DisplayNameFor(model => model.Usua_Admin)

            <span asp-validation-for="Usua_Admin" class="text-danger"></span>
        </div>
    </div>


    <div class="col-sm-6">

        <div class="form-group">
            <label asp-for="Empl_Id" class="control-label"></label>
            <select id="Empl_Id" name="Empl_Id" class="form-control">
                @foreach (var em in ViewBag.empleado)
                {
                    <option value="@em.Value">@em.Text</option>

                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Role_Id" class="control-label"></label>
            <select id="Role_Id" name="Role_Id" class="form-control">
                @foreach (var rol in ViewBag.Roles)
            {
                <option value="@rol.Value">@rol.Text</option>
            }
            </select>
        </div>

    </div>


    <div class="col-sm-6">

        <div class="col-sm-4">
            <input type="submit" value="Agregar" class="btn btn-secondary" />
        </div>

        <div class="col-sm-4">
            <input asp-action="Index" value="Agregar" class="btn btn-secondary" />
        </div>

    </div>

</form>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>

<script>
    async function obtenerListaEmpleados() {
        try {
            const response = await fetch('https://localhost:44311/API/Empleados/listaEmpleados');
            if (!response.ok) {
                throw new Error('Error al obtener la lista de empleados');
            }
            const data = await response.json();

            $("#Empl_Id").empty().append('<option value="">Selecciona un empleado</option>');
            $.each(data, function (key, empleado) {
                $("#Empl_Id").append(`<option value="${empleado.empl_Id}">${empleado.nombre}</option>`);
            });

        } catch (error) {
            console.error(error);
        }
    }

    obtenerListaEmpleados();
</script>



<script>
    async function ObtenerListaRoles() {
        try {
            const response = await fetch('https://localhost:44311/API/Usuario/listadoRoles');
            if (!response.ok) {
                throw new Error('Error al obtener la lista de empleados');
            }
            const data = await response.json();

            $("#Role_Id").empty().append('<option value="">Selecciona un Rol</option>');
            $.each(data, function (key, empleado) {
                $("#Role_Id").append(`<option value="${empleado.role_Id}">${empleado.role_Descripcion}</option>`);
            });

        } catch (error) {
            console.error(error);
        }
    }

    ObtenerListaRoles();
</script>

