@model IEnumerable<SistemaActivos.Common.Model.UsuariosViewmodel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
@foreach (var usua in Model)
{
<div>
    <h4>UsuariosViewmodel</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => usua.Usua_Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => usua.Usua_Nombre)
        </dd>
 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => usua.Usua_Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => usua.Usua_Admin)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => usua.Empleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => usua.Empleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => usua.Role_Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => usua.Role_Descripcion)
        </dd>
     
    </dl>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => usua.Uuno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => usua.Usua_FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Udos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => usua.Usua_FechaModificacion)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => usua.Uuno)
                </td>
                <td>
                    @Html.DisplayFor(model => usua.Usua_FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(model => usua.Udos)
                </td>
                <td>
                    @Html.DisplayFor(model => usua.Usua_FechaModificacion)
                </td>
            </tr>
        </tbody>
    </table>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
