@model IEnumerable<SistemasActivos.API.Model.DepartamentosViewmodel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />

<h1>Index</h1>


<div class="collapse" id="CollapseCrear">
    <div class="card card-body">
        @Html.Partial("_Create", new SistemasActivos.API.Model.DepartamentosViewmodel())
    </div>
</div>

<div class="collapse" id="CollapseActualizar">
    <div class="card card-body">
        @Html.Partial("_Update", new SistemasActivos.API.Model.DepartamentosViewmodel())
    </div>
</div>

<div class="collapse show" id="CollapseTabla">
    <p>
    @*<a asp-action="Create">Nuevo</a>*@
    <a asp-action="Create" class="btn btn-primary" data-toggle="collapse" data-target="#CollapseCrear, #CollapseTabla" aria-expanded="false" aria-controls="collapseExample">Nuevo<i class="fas fa-plus"></i></a>

</p>
    <table class="table table-bordered table-striped" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Depa_Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Depa_Descripcion)
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Depa_Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Depa_Descripcion)
                    </td>

                    <td>
                        @*<button data-depa-id="@item.Depa_Codigo" data-toggle="collapse" data-target="#CollapseActualizar" aria-expanded="false" aria-controls="collapseExample"><i class="mdi mdi-pencil btn btn-primary mr-2 editar-depa">Editar</i></button>*@
                        <a asp-action="Edit" asp-route-id="@item.Depa_Codigo" class="btn btn-primary" data-toggle="collapse" data-target="#CollapseActualizar, #CollapseTabla" aria-expanded="false" aria-controls="collapseExample" onclick="LLenarCollapse('@item.Depa_Codigo')"><i class="fas fa-edit btn-xs">Editar</i></a>

                        @*<a href="@Url.Action("Details", "Departamento", new { Depa_Codigo = item.Depa_Codigo })" class="btn btn-info btn-sm">Detalles <i class="tim-icons icon-zoom-split"></i></a>*@
                        @*<a asp-action="Details" asp-route-id="@item.Depa_Codigo"><i class="mdi mdi-eye btn btn-warning mr-2">Detalles</i></a>*@
                        <a href="@Url.Action("Details", "Departamentos", new {Depa_Codigo = item.Depa_Codigo})" class="btn btn-info"><i class="fas fa-info-circle btn-xs"></i>Detalle</a>
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        <a asp-action="Eliminar" class="btn btn-danger" asp-route-id="@item.Depa_Codigo" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerDelete('@item.Depa_Codigo')"><i class="fas fa-trash-alt btn-xs">Eliminar</i></a>
                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Eliminar</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h3>Esta seguro de eliminar este registro?</h3>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_Delete", new SistemasActivos.API.Model.DepartamentosViewmodel())
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        var table = new DataTable('#myTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
            },
        });
    </script>




    <script>

        function LLenarCollapse(id) {
            //$(".editar-depa").click(function () {
            console.log("entra?");
            //var id = $(this).data("depa-id");
            var url = "https://localhost:44311/API/Departamento/LlenarDepartamentos/" + id;
            console.log(url);
            fetch(url).then(function (result) {
                if (result.ok) {
                    console.log("entra?");
                    return result.json();
                }
                else {
                    console.log("No entra");
                }
            }).then(function (data) {
                console.log("data = " + data);
                var descripcion = data.descripcion;

                console.log("Id=" + id);
                console.log("des=" + data.descripcion);

                $("#Depa_Cod").val(id);
                $("#txtDescripcion").val(descripcion);

            });
        }

        //$(".detalle-depa").click(function () {
        //    console.log("entra?");
        //    var id = $(this).data("depa-id");
        //    var url = "https://localhost:44311/API/Departamento/Detalles/" + id;
        //    fetch(url).then(function (result) {
        //        if (result.ok) {
        //            console.log("entra?");
        //            return result.json();
        //        }
        //        else {
        //            console.log("No entra");
        //        }
        //    }).then(function (data) {
        //        console.log("data = " + data);
        //        var descripcion = data.descripcion;

        //        console.log("Id=" + id);
        //        console.log("des=" + data.descripcion);
        //        console.log("uc=" + data.usuacrea);
        //        console.log("um=" + data.usuamodi);
        //        console.log("fc=" + data.fechacrea);
        //        console.log("fm=" + data.fechamodi);

        //        $("#Depa_Cod").val(id);
        //        $("#txtDescripcion").val(descripcion);
        //        $("#txtUsuacrea").val(data.usuacrea);
        //        $("#txtfechacrea").val(data.fechacrea);
        //        $("#txtUsuaModi").val(data.usuamodi);
        //        $("#fechamodi").val(data.fechamodi);

        //    });
        //})

        function ObtenerDelete(id) {
            $("#Depa_Codi").val(id);
            console.log("id" + id);
            sessionStorage.setItem('sess', id);
        }
        function validarId() {
            var valor = sessionStorage.getItem('sess');
            if (valor != $("#id").val()) {
                $("#btnEliminar").attr("name", "invalido")
            }
            sessionStorage.clear();
        }
    </script>
