@model IEnumerable<SistemasActivos.API.Model.DepartamentosViewmodel>


@foreach (var depa in Model)
{

    <div>
        <h4>DepartamentosViewmodel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => depa.Depa_Codigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => depa.Depa_Codigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => depa.Depa_Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => depa.Depa_Descripcion)
            </dd>

        </dl>
    </div>
    <table class="table table-bordered table-striped" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => depa.Uuno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => depa.Depa_FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => depa.Udos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => depa.Depa_FechaModificacion)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => depa.Uuno)
                </td>
                <td>
                    @Html.DisplayFor(model => depa.Depa_FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(model => depa.Udos)
                </td>
                <td>
                    @Html.DisplayFor(model => depa.Depa_FechaModificacion)
                </td>
            </tr>
        </tbody>

    </table>
}
<div>
    <a asp-action="Index">Regresar</a>
</div>


