@model IEnumerable<SistemasActivos.API.Model.DepartamentosViewmodel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Nuevo</a>*@
    <a asp-action="Create" class="btn btn-primary" data-toggle="collapse" data-target="#CollapseCrear" aria-expanded="false" aria-controls="collapseExample">Nuevo</a>

</p>
<div class="collapse" id="CollapseCrear">
    <div class="card card-body">
        @Html.Partial("_Create", new SistemasActivos.API.Model.DepartamentosViewmodel())
    </div>
</div>

<div class="collapse" id="CollapseActualizar">
    <div class="card card-body">
        @Html.Partial("_Update", new SistemasActivos.API.Model.DepartamentosViewmodel())
    </div>
</div>

<table class="table table-bordered table-striped" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Depa_Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depa_Descripcion)
            </th>
           
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_Descripcion)
            </td>
         
            <td>
                @*<button data-depa-id="@item.Depa_Codigo" data-toggle="collapse" data-target="#CollapseActualizar" aria-expanded="false" aria-controls="collapseExample"><i class="mdi mdi-pencil btn btn-primary mr-2 editar-depa">Editar</i></button>*@
                <a asp-action="Edit" asp-route-id="@item.Depa_Codigo" data-toggle="collapse" data-target="#CollapseActualizar" aria-expanded="false" aria-controls="collapseExample" onclick="LLenarCollapse('@item.Depa_Codigo')"><i class="mdi mdi-pencil btn btn-primary mr-2">Editar</i></a>

                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-action="Eliminar" asp-route-id="@item.Depa_Codigo" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerDelete('@item.Depa_Codigo')"><i class="mdi mdi-trash-can btn btn-danger ">Eliminar</i></a>
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h3>Esta seguro de eliminar este registro?</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Delete", new SistemasActivos.API.Model.DepartamentosViewmodel())
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function LLenarCollapse(id) {
    //$(".editar-depa").click(function () {
        console.log("entra?");

        //var id = $(this).data("depa-id");

        var url = "https://localhost:44311/API/Departamento/LlenarDepartamentos/" + id;
        console.log(url);
        fetch(url).then(function (result) {
            if (result.ok) {
                console.log("entra?");
                return result.json();
            }
            else {
                console.log("No entra");
            }
        }).then(function (data) {
            console.log("data = "+ data);
            var descripcion = data.descripcion;

            console.log("Id=" + id);
            console.log("des=" + data.descripcion);


            $("#Depa_Cod").val(id);
            $("#txtDescripcion").val(descripcion);

        });
    }

    function ObtenerDelete(id) {
        $("#Depa_Codi").val(id);
        console.log("id" + id);
        sessionStorage.setItem('sess', id);
    }
    function validarId() {
        var valor = sessionStorage.getItem('sess');
        if (valor != $("#id").val()) {
            $("#btnEliminar").attr("name", "invalido")
        }
        sessionStorage.clear();
    }
</script>