@model IEnumerable<GestionActivos.Models.EstadosCivilesViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
@foreach (var esta in Model)
{
<div>
    <h4>EstadosCivilesViewModel</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => esta.EstD_Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => esta.EstD_Descripcion)
        </dd>
      
    </dl>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => esta.Uuno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => esta.EstD_FechaCracion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => esta.Udos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => esta.EstD_FechaModificacion)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => esta.Uuno)
                </td>
                <td>
                    @Html.DisplayFor(model => esta.EstD_FechaCracion)
                </td>
                <td>
                    @Html.DisplayFor(model => esta.Udos)
                </td>
                <td>
                    @Html.DisplayFor(model => esta.EstD_FechaModificacion)
                </td>
            </tr>
        </tbody>
    </table>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
