@model IEnumerable<SistemaActivos.Entities.Entities.tbDepartamentos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Depa_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depa_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depa_FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depa_UsuarioCreacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depa_UsuarioModificacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_UsuarioCreacionNavigation.Usua_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depa_UsuarioModificacionNavigation.Usua_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Depa_Codigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Depa_Codigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Depa_Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
