@model IEnumerable<SistemasActivos.API.Model.CategoriasViewmodel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
@foreach (var cate in Model)
{
<div>
    <h4>CategoriasViewmodel</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => cate.Cate_Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => cate.Cate_Descripcion)
        </dd>

    </dl>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => cate.Uuno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => cate.Cate_FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => cate.Udos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => cate.Cate_FechaModificacion)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => cate.Uuno)
                </td>
                <td>
                    @Html.DisplayFor(model => cate.Cate_FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(model => cate.Udos)
                </td>
                <td>
                    @Html.DisplayFor(model => cate.Cate_FechaModificacion)
                </td>
            </tr>
        </tbody>
    </table>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
