@model IEnumerable<SistemasActivos.API.Model.CategoriasViewmodel>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>


<div class="collapse" id="CollapseCrear">
    <div class="card card-body">
        @Html.Partial("_Create", new SistemasActivos.API.Model.CategoriasViewmodel())
    </div>
</div>
<div class="collapse" id="CollapseActualizar">
    <div class="card card-body">
        @Html.Partial("_Update", new SistemasActivos.API.Model.CategoriasViewmodel())
    </div>
</div>
<div class="collapse show" id="CollapseTabla">
    <p>
        @*<a asp-action="Create">Create New</a>*@
        <a asp-action="Create" class="btn btn-primary" data-toggle="collapse" data-target="#CollapseCrear, #CollapseTabla" aria-expanded="false" aria-controls="collapseExample">Nuevo</a>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cate_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cate_Descripcion)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Cate_Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cate_Descripcion)
    </td>

    <td>
        <a asp-action="Edit" asp-route-id="@item.Cate_Id" data-toggle="collapse" data-target="#CollapseActualizar , #CollapseTabla" aria-expanded="false" aria-controls="collapseExample" onclick="LLenarCollapse('@item.Cate_Id')"><i class="mdi mdi-pencil btn btn-primary mr-2">Editar</i></a>|
        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
        <a href="@Url.Action("Details", "Categorias", new {Cate_Id = item.Cate_Id})" class="btn btn-info"><i class="fas fa-info-circle btn-xs"></i>Detalle</a>
        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
        <a asp-action="Eliminar" asp-route-id="@item.Cate_Id" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerDelete('@item.Cate_Id')"><i class="mdi mdi-trash-can btn btn-danger ">Eliminar</i></a>
        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
    </td>
</tr>}
        </tbody>
    </table>
</div>


<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h3>Esta seguro de eliminar este registro?</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Delete", new SistemasActivos.API.Model.CategoriasViewmodel())
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function LLenarCollapse(id) {
        //$(".editar-depa").click(function () {
        console.log("entra?");
        //var id = $(this).data("depa-id");
        var url = "https://localhost:44311/API/Categoria/LlenarCategoria/" + id;
        console.log(url);
        fetch(url).then(function (result) {
            if (result.ok) {
                console.log("entra?");
                return result.json();
            }
            else {
                console.log("No entra");
            }
        }).then(function (data) {
            console.log("data = " + data);
            var descripcion = data.descripcion;

            console.log("Id=" + id);
            console.log("des=" + data.idde);

            $("#txtID").val(id);
            $("#txtDesc").val(descripcion);

        });
    }

    function ObtenerDelete(id) {
        $("#cateId").val(id);
        console.log("id" + id);
        sessionStorage.setItem('sess', id);
    }
    function validarId() {
        var valor = sessionStorage.getItem('sess');
        if (valor != $("#id").val()) {
            $("#btnEliminar").attr("name", "invalido")
        }
        sessionStorage.clear();
    }
</script>